<html>
<head>
  <title>Joseph Doba - Full Stack Web Developer</title>
</head>
<body>
  

  <header class="hero-image">
  <div class=hero-text>
<h1 class="hero-text catch-phrase"> 
<%# This is spread out by spans for a planned effect in a future update :) %>
    <span>C</span>
    <span>r</span>
    <span>e</span>
    <span>a</span>
    <span>t</span>
    <span>e</span>
    <br>
    <span>V</span>
    <span>a</span>
    <span>l</span>
    <span>u</span>
    <span>e</span>
</h1>

  </div>
<nav class="navbar-sticky">
  <%# <div>
    <div class="hamburger">&#9776;</div>
  </div> %>
  <div class="navbar-content">
    <ul>
      <li><a href="#about">About</a></li>
      <li><a href="#projects">Projects</a></li>
      <li><a href="#side-quests">SideQuests</a></li>
      <li><a href="#" data-bs-toggle="modal" data-bs-target="#contactModal">Contact</a></li>
      <li><a href="https://medium.com/@itsjoba" target="_blank">Articles</a></li>
    </ul>
  </div>
</nav>
</header>

<%# Modal contact popup %>
<div class="modal fade" id="contactModal" tabindex="-1" aria-labelledby="contactModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="contactModalLabel">Get in touch:</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <img src="<%= asset_path('me.png')%>">

        
        <p>josephdoba@gmail.com</p>
        <p>(+1)778-678-5622</p>
        <a href="https://www.linkedin.com/in/joseph-aj-doba/">LinkedIn</a>
        <a href="https://github.com/josephdoba">Github</a>
        <br>
        <p>Thank you for your time!</p>

      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>


  
<section class="about">
  <h3 id="about" >About</h3>
  <div class="about-container">
    <div class="photo">
        <div class="photo-container">
            <img src="<%= asset_path('me.png')%>">

            
            <div class="about-titles">
                <h1 class="full-name">Joseph Doba</h1>
                <h2 class="title-name">Full Stack Web Developer</h2>
            </div>
        </div>
    </div>

    <div class="paragraph">
      <p>Hello World! I'm an IT Professional currently living in beautiful British Columbia. Throughout my career, I have gained valuable experience in music production, mentoring, and sound design. I have also acquired proficiency in various full-stack web development technologies thanks to my education at Lighthouse Labs.
      <br>
      <br>
      I believe that my diverse background in music and web development technology has equipped me with a unique set of skills that allows me to approach challenges with a creative and analytical mindset. I am always looking for new opportunities to grow both personally and professionally, and I can't wait to see where my passions take me next. <i class="bi bi-emoji-smile"></i> 
      <br>
      <br>
      <i>-Joba</i></p>
      </div>
  </div> 
  <%# end of about container%>


  <div class="tech-stack">
  <img src="">
    <h3>Tech Stack</h3>
    <div class="stack-container">
      <div draggable="true" class="tech-block square">Javascript</div>
      <div draggable="true" class="tech-block">Typescript</div>
      <div draggable="true" class="tech-block">CSS</div>
      <div draggable="true" class="tech-block">HTML</div>
      <div draggable="true" class="tech-block">React</div>
    </ul>
    <ul>
      <div draggable="true" class="tech-block triangle">Ruby</div>
      <div draggable="true" class="tech-block">Ruby on Rails</div>
      <div draggable="true" class="tech-block">Postgres</div>
      <div draggable="true" class="tech-block">NodeJS</div>
      <div draggable="true" class="tech-block">Cypress</div>
    </ul>
    <ul>
      <div draggable="true" class="tech-block">Github</div>
      <div draggable="true" class="tech-block">Jira</div>
      <div draggable="true" class="tech-block">Heroku</div>
      <div draggable="true" class="tech-block">Slack</div>
    </ul>
  </div>
</section>


  
<h3 id="projects">Portfolio Projects</h3>
  <section class="portfolio">
    <!-- Slider main container -->
    <div class="swiper mySwiper">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
          <div class="swiper-slide "><a href="https://github.com/josephdoba/portfolio-rails" target="_blank"><img src="https://swiperjs.com/demos/images/nature-1.jpg" class="d-block w-100" alt="Image 1"></a>
          <a href="https://github.com/josephdoba/portfolio-rails" target="_blank"><h5>Portfolio (this website)</h5></a>
          
          <p>Built with Ruby on Rails 7. Created for personal interest and branding.</p>
          <%# <%= image_tag 'portfolio_card_logo.png', alt: 'Portfolio Logo' %>   
          
        </div>

        <div class="swiper-slide"><a href="https://github.com/josephdoba/joinus" target="_blank"><img src="https://www.cakeresume.com/cdn-cgi/image/fit=scale-down,format=auto,w=828/https://images.cakeresume.com/NQGOv/joseph-aj-doba/65111be3-093c-47c2-ad7d-5719becf3213.png" class="d-block w-100" alt="Image 2">
          <h5>JoinUs</h5>
          </a>
          <p>Final project for Lighthouse Labs. It allows users to arrange spontaneous meetups. I was responsible for the backend logic for the form.</p>
          <%# <%= image_tag 'joinus_logo.png', alt: 'joinus Logo' %>  
        
        </div>

        <div class="swiper-slide">
        
        <a href="https://github.com/josephdoba/scheduler" target="_blank"><img src="https://www.cakeresume.com/cdn-cgi/image/fit=scale-down,format=auto,w=828/https://images.cakeresume.com/NQGOv/joseph-doba/3144a2aa-c725-431a-acb4-681bfd25f93d.png" class="d-block w-100" alt="Image 3">
          <h5>Scheduler</h5>
          </a>
          <p>A single-page React project that allows the user to book appointments.</p>
          <%# <%= image_tag 'scheduler_logo.png', alt: 'scheduler Logo' %>  
          
        </div>

        <div class="swiper-slide"><a href="https://github.com/josephdoba/backyard-wines" target="_blank"><img src="https://www.cakeresume.com/cdn-cgi/image/fit=scale-down,format=auto,w=828/https://images.cakeresume.com/NQGOv/joseph-doba/7978b49b-89b2-46cb-aaad-3e08bd4139b5.png" class="d-block w-100" alt="Image 4">
          <h5>Backyard Wines</h5>
          </a>
          <p>Proof of concept design of a localized winery service for residents in British Columbia. I worked on user features and connected client and server sides.</p>
          <%# <%= image_tag 'backyardwines_logo.png', alt: 'backyardwines_logo Logo' %>   
          
        </div>
      </div>


      <!-- Swiper dependencies -->
      <div class="swiper-pagination"></div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
      <div class="swiper-scrollbar"></div>
    </div>
  </section> <%# end of portfolio section%>
         
  
<h3 id="side-quests">Side Quests</h3>
  <section class="side-quests">
    <div class="card-container">
      <div class="card">
        <a href="https://www.tailbook.me" target="_blank"><img src="https://static.tildacdn.com/tild3231-3333-4862-b335-396634323961/daa820c4-b741-4577-a.svg" alt="Image 5">
        <h5>Tailbook Inc.</h5>
        </a>
        <p>Volunteer work dedicated to helping homeless animals find their forever-homes. My responsibilities included front-end work in React and English localization.</p>
        
      </div>


      <div class="card">
        <a href="https://jobasaudioservices.com/" target="_blank"><img src="https://www.cakeresume.com/cdn-cgi/image/fit=scale-down,format=auto,w=828/https://images.cakeresume.com/NQGOv/joseph-doba/3739e923-ce7a-43e4-ae19-75a2523abeac.png" alt="Image 6">
        <h5>Joba's Audio Services</h5>
        </a>
        <p>An audio services business I'm building to help coach other music producers. While it's still under construction, the website uses the Liquid templating language.</p>
        
      </div>

      <div class="card">
          <a href="https://www.beatport.com/label/gauntlet-records/66495" target="_blank"><img src="https://www.cakeresume.com/cdn-cgi/image/fit=scale-down,format=auto,w=828/https://images.cakeresume.com/NQGOv/joseph-doba/f581e1bf-1fc2-4e35-be40-bbc24df5dcf3.jpeg" alt="Image 7">
          <h5>Gauntlet Records</h5>
          </a>
          <p>Worked with talent to produce high quality music for commercial releases in alignment with the artists' creative vision, including my own releases. Responsible for quality assurance, minor graphic design, audio mastering, coaching, and marketing.</p>
          
      </div>

    </div>
  </section>
  
  <footer>
    <div class="your-footer-text your-footer-glow-animation center-text">
      <p>Made with <i class="bi bi-suit-heart-fill"></i> in Victoria BC</p>
    </div>
  </footer>
</body>
</html>